<div class="cart-modal">
    <div class="cart-modal__content">
        <div class="absolute-nav">
            <div class="fullprice">Total: {{ cart.get_total_price|floatformat:0 }}$</div>
            <div class="close-modal-btn">X</div>
        </div>
        <div class="cart-modal__content-top">

            {% for cart_item in cart %}
            <div class="cart-modal__content-top--card">
                <img src="{{ cart_item.product.images.all.0.get_image }}" alt="">
                <div>
                    <h3>{{ cart_item.product.name_en }}</h3>
                    <p>Price in USD: {{ cart_item.price|floatformat:0 }}$</p>
                    <p>Price in UZS: {{ cart_item.product.price_uz }} uzs</p>

                </div>
                <a href="{% url 'cart_remove_en' cart_item.product.id %}">delete</a>
            </div>
            {% endfor %}


        </div>
        <div class="cart-modal__content-middle">
            <a href="#" class="cart-modal__content-middle--btn1">Make an order</a>
            <a href="#" class="cart-modal__content-middle--btn2">Order by call</a>
        </div>
        <div class="cart-modal__content-bottom">
                <form action="{% url 'save_cart_en' %}" method="post" style="width: 100%;" class="inputs">

                    {% csrf_token %}

                    {% for inp in cart_form_en %}
                    {{ inp }}
                    {% endfor %}

                    <button>Make an order</button>
                </form>

            <div class="bottom-btns">
                <a href="#" class="back">Back</a>
                <a href="#">Order by call</a>
            </div>
        </div>
    </div>
</div>