{% extends 'base_en.html' %}
{% load static %}

{% block title %} About brand {% endblock title %}
{% block main %}
{% include 'components/_cart_modal_en.html' %}
{% include 'components/header/_header_other_en.html' %}


<div class="contact">
    <div class="contact-filter"></div>
    <div class="contact-content">
        <div class="contact__header">
            <div class="contact__header-logo">
                <img src="{% static 'images/icons/icon-phone.svg' %}" alt="img">
            </div>
            <div class="contact__header-title">CALL US</div>
        </div>
        <div class="contact__box">
            <p>We are always happy to answer your questions!</p>
            <p>You can contact us at the following phone number: <a class="contact__box-link" href="tel:+998903922022">+998(90)392-20-22</a></p>
            <p class="contact__box-subtext">Calls are available daily from 10:00 AM to 7:00 PM Uzbekistan time.</p>
        </div>
    </div>
</div>

<main class="main">
    <div class="main__top">
        <h2 class="main__top-title">About brand</h2>
        
    </div>
    <div class="main__bottom">
        {% for blog_about in count_about %}
        <div class="main__bottom-top">
            {% if not forloop.counter|divisibleby:2 %}
            <div class="main__bottom-top--column">

                <img src="{{ blog_about.get_image }}" alt="" style="object-fit: cover;">
            </div>
            {% endif %}

            {% for blog in blog_about.blogsAbout.all %}

            <div class="main__bottom-top--column">

                <div class="main__bottom-top--column---top">
                    <div></div>
                     
                    <div>
                        {{ blog.ind }}
                    </div>
                    
                </div>
                <div class="main__bottom-top--column---title">
                    <h2>{{ blog.title_en }}</h2>
                </div>
                <div class="main__bottom-top--column---text">
                    {{ blog.description_en }}
                </div>
            </div>
            {% endfor %}

            {% if forloop.counter|divisibleby:2 %}
            <div class="main__bottom-top--column" style="margin: 0 0 0 30px;">
                <img src="{{ blog_about.get_image }}" alt="" style="object-fit: cover;">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</main>

{% endblock main %}